:root {
	--height-1: 550px;
	--height-2: 100vh;
	--width-1: 66%;

	//Color themes
	--app-bg-col: #0a0b2b;
	--text-col: white;
	--personal-bg-col: #1a012b;
	--personal-border-col: #e6c926;
	--img-upload-bg-col: #1a012b;
	--details-bg-col: #222200;
	--add-shadow-in-lite: none;
	--scroll-bar-col: rgb(155 190 192);
	--scroll-bar-col-active: rgb(0, 238, 255);

	.light-theme {
		--app-bg-col: rgb(252 252 245);
		--text-col: black;
		--personal-bg-col: rgb(252 252 245);
		--personal-border-col: #e6c926;
		--img-upload-bg-col: rgb(252 252 245);
		--details-bg-col: rgb(252 252 245);
		--add-shadow-in-lite: 2px 1px 12px -5px #000000;
		--scroll-bar-col: rgb(120, 240, 248);
		--scroll-bar-col-active: #7df8d9;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-col);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-col-active);
}

label {
	font-size: 0.8rem;
	color: var(--text-col);
	border: solid #9900ff 1px;
	border-radius: 4px;
	padding: 6px;
	font-weight: bolder;
}

label:hover {
	background-color: #9900ff;
}

img {
	margin-bottom: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 3px 12px -5px #000000;
	box-shadow: 2px 3px 12px -5px #000000;
}

#app-main {
	background-color: var(--app-bg-col);
	min-height: 100vh;
	transition: 0.7s;
}

#app-header {
	color: var(--text-col);
	font-size: 35px;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
}

#theme-print-row {
	color: var(--text-col);
	margin-right: 100px;
	margin-left: 75px;
}

#input-area {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(var(--height-1));
	min-width: 250px;
}

#display-area {
	height: calc(var(--height-1));
	width: calc(var(--height-1) * 0.707);
	background-color: rgb(255 255 247);
	margin: 2%;
	border-style: solid;
	word-break: break-word;
}

#print-area {
	height: calc(var(--height-1));
	width: calc(var(--height-1) * 0.707);
	padding: 20px;
}

#display-area-left {
	width: 66%;
	margin: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}

#display-area-right {
	width: 33%;
	margin: 10px;
	overflow: hidden;
}

#delete-margin {
	margin: 0px;
}

.btn {
	margin: 0.2rem;
}

// Below is the CSS code for the input boxes.

.per-contact-class {
	color: var(--text-col);
	width: 260px;
	border: 1px solid var(--personal-border-col);
	border-left: 5px solid var(--personal-border-col);
	background: var(--personal-bg-col);
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.image-upload-class {
	color: var(--text-col);
	font-size: 0.8rem;
	width: 260px;
	padding: 5px;
	border: 1px solid #9900ff;
	border-right: 5px solid #9900ff;
	background: var(--img-upload-bg-col);
	border-radius: 5px;
	margin: 5px;
	margin: 10px;
	padding: 10px;
	padding-bottom: 20px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.skills-class {
	color: var(--text-col);
	width: 260px;
	padding: 5px;
	border: 1px solid var(--personal-border-col);
	border-right: 5px solid var(--personal-border-col);
	background: var(--personal-bg-col);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	padding-bottom: 20px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.section-input-row {
	padding-left: 10px;
	padding-right: 20px;
}

.section-class {
	color: var(--text-col);
	width: 260px;
	border: 1px solid #9900ff;
	border-left: 5px solid #9900ff;
	background: var(--img-upload-bg-col);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.experience-class {
	border: 1px solid #e0a73c;
	background: var(--details-bg-col);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.skill-set-class {
	border: 1px solid #e0a73c;
	background: var(--details-bg-col);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: var(--add-shadow-in-lite);
	transition: 0.7s;
}

.text-line {
	background-color: transparent;
	height: auto;
	width: 96%;
	font-size: 0.8rem;
	color: var(--text-col);
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid var(--text-col) 1px;
	padding: 3px 9px;
	margin-left: 4px;
}

// This is for the layout of the CV
.CV-header {
	font-size: 1.3rem;
	font-weight: bold;
}

.CV-subheader {
	font-size: 0.7rem;
	margin-bottom: 0.7rem;
}

.classSidebarHeader {
	font-size: 7px;
	margin-top: 0.4rem;
	margin-bottom: 0.1rem;
	font-weight: bold;
}

.classSidebarText {
	font-size: 6px;
	margin-bottom: 2px;
}

.classEntryGroup {
	margin-bottom: 0.2rem;
}

.classSectionHeader {
	font-size: 0.6rem;
	text-transform: uppercase;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #474444;
	font-weight: 400;
	margin-bottom: 0.1rem;
}

.classEntryHeader {
	font-size: 8px;
	font-weight: 700;
	margin-bottom: 2px;
}

.classEntrySubheader {
	font-size: 7px;
	margin-bottom: 2px;
}

.classEntryTimeline {
	font-size: 6px;
	color: #474444;
	font-style: italic;
	margin-bottom: 2px;
}

.classExpDetailsText {
	font-size: 7px;
	margin-bottom: 2px;
}

.add-btn {
	justify-content: center;
	width: 70px;
	box-shadow: var(--add-shadow-in-lite);
}

.delete-button-container {
	padding-right: 10px;
}
.delete-btn {
	justify-content: center;
	width: 40px;
	box-shadow: var(--add-shadow-in-lite);
}

.print-btn {
	width: 75px;
	box-shadow: var(--add-shadow-in-lite);
}

.image-upload {
	width: 200px;
	font-size: 0.8rem;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$custom-colors: (
	'danger': #e4147e,
	'info': rgb(0, 238, 255),
	'success': #14e478,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$form-select-color: (var(--text-col));
$form-select-bg: (var(--details-bg-col));
$form-select-font-size: (0.8rem);
$btn-padding-x: 8px;
$form-check-input-checked-bg-color: rgb(0, 238, 255);
$form-check-input-checked-border-color: rgb(0, 238, 255);

@import '~bootstrap/scss/bootstrap';
