:root {
	--height-1: 600px;
	--height-2: 100vh;
	--height-3: 80vh;
	--width-1: 66%;

	//Color themes
	--app-bg-col: #0a0b2b;
	--text-col: white;
	--yellow-border-col: #e6c926;
	--yellow-bg-col: #1a012b;
	--purple-border-col: #9900ff;
	--purple-bg-col: #2d004c;
	--purple-bg-col-hover: #40006b;
	--orange-border-col: #ff9900;
	--orange-bg-col: #332100;
	--orange-bg-col-hover: #422b00;
	--add-shadow-or-glow: 0px 0px 12px -4px #f8f4dc;
	--scroll-bar-col: #8b399c;
	--scroll-bar-col-active: #d2add9;

	.light-theme {
		--app-bg-col: linear-gradient(
			to right top,
			#f1e4fb,
			#f0e2f7,
			#efe1f3,
			#eddfef,
			#ebdeeb
		);
		--text-col: black;
		// --yellow-bg-col: rgb(252 252 245);
		// --yellow-border-col: #e6c926;
		--purple-border-col: #c166ff;
		--purple-bg-col: #f5f3f5;
		--purple-bg-col-hover: #f2e6fc;
		--orange-border-col: #ffc664;
		--orange-bg-col: #fcf9f4;
		--orange-bg-col-hover: #faecd3;
		--add-shadow-or-glow: 2px 1px 12px -5px #000000;
		--scroll-bar-col: #dc88ec;
		--scroll-bar-col-active: #f8d5ff;
	}
}

#app-main {
	background: var(--app-bg-col);
	min-height: 100vh;
	transition: 0.7s;
}

#delete-margin {
	margin: 0px;
}

/*-*-*-*-*-*- Scroll bar styling *-*-*-*-*-*-*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-bar-col);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-bar-col-active);
}

/*-*-*-*-*-*- Font and element styling *-*-*-*-*-*-*/

label {
	font-size: 0.8rem;
	color: var(--text-col);
	border: solid #9900ff 1px;
	border-radius: 4px;
	padding: 6px;
	font-weight: bolder;
}

label:hover {
	background-color: #9900ff;
}

img {
	margin-bottom: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 3px 12px -5px #000000;
	box-shadow: 2px 3px 12px -5px #000000;
}

#app-header {
	color: var(--text-col);
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 700;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	user-select: none;
}

#app-header:hover {
	font-weight: 400;
}

.text-color {
	color: var(--text-col);
}

.input-header {
	color: var(--text-col);
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 600;
	user-select: none;
}

.input-header:hover {
	font-weight: 400;
}

.text-line {
	background-color: transparent;
	height: auto;
	width: 100%;
	font-size: 0.8rem;
	color: var(--text-col);
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid var(--text-col) 1px;
}

/*-*-*-*-*-*- Input displays and CV preview display *-*-*-*-*-*-*/

#display-area {
	height: calc(var(--height-1));
	width: calc(var(--height-1) * 0.707);
	background-color: #fcfbfc;
	margin-left: 10px;
	margin-right: 10px;
	word-break: break-word;
}

#print-area {
	height: calc(var(--height-1));
	width: calc(var(--height-1) * 0.707);
	padding: 20px;
}

#display-area-left {
	width: 66%;
	margin: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}

#display-area-right {
	width: 33%;
	margin: 10px;
	overflow: hidden;
}

#load-spinner-image {
	height: 1.5rem;
	width: 1.5rem;
	margin: 4px;
	margin-right: 120px;
}

.input-area {
	height: calc(var(--height-1));
	overflow-y: visible;
	overflow-x: hidden;
}

/*-*-*-*-*-*- Input boxes *-*-*-*-*-*-*/
.input-box {
	display: flex;
	flex-direction: column;
	color: var(--text-col);
	width: 245px;
	border-radius: 5px;
	margin: 15px;
	margin-top: 0px;
	padding: 20px;
	gap: 5px;
	box-shadow: var(--add-shadow-or-glow);
	transition: 0.7s;
}

.purple-left {
	border: 1px solid var(--purple-border-col);
	border-left: 5px solid var(--purple-border-col);
	background: var(--purple-bg-col);
}

.purple-right {
	border: 1px solid var(--purple-border-col);
	border-right: 5px solid var(--purple-border-col);
	background: var(--purple-bg-col);
}

.purple-left:hover,
.purple-right:hover {
	background-color: var(--purple-bg-col-hover);
	transition: 0.5s;
}

.orange-inner {
	margin: 0;
	margin-bottom: 5px;
	width: 100%;
	border: 0.5px solid var(--orange-border-col);
	background: var(--orange-bg-col);
}

.orange-inner:hover {
	background-color: var(--orange-bg-col-hover);
	transition: 0.5s;
}

/*-*-*-*-*-*- Right column and theme switch *-*-*-*-*-*-*/

.right-column {
	position: relative;
}

.theme-switch {
	position: absolute;
	top: -30px;
	left: 0px;
	right: 0px;
}

/*-*-*-*-*-*- CV preview display *-*-*-*-*-*-*/
.CV-header {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3rem;
	font-weight: bold;
}

.CV-subheader {
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
}

.classSidebarHeader {
	font-size: 7px;
	margin-top: 0.4rem;
	margin-bottom: 0.1rem;
	font-weight: bold;
}

.classSidebarText {
	font-size: 6px;
	margin-bottom: 2px;
}

.classEntryGroup {
	margin-bottom: 0.2rem;
}

.classSectionHeader {
	font-size: 0.6rem;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #474444;
	font-weight: 400;
	margin-bottom: 0.1rem;
	margin-top: 0.3rem;
}

.classEntryHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: 700;
	margin-bottom: 2px;
}

.classEntrySubheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	margin-bottom: 2px;
}

.classEntryTimeline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	color: #474444;
	font-style: italic;
	margin-bottom: 2px;
}

.classExpDetailsText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7px;
	margin-bottom: 2px;
}

/*-*-*-*-*-*- Buttons *-*-*-*-*-*-*/

.add-btn {
	justify-content: center;
	width: 70px;
	margin: 5px;
	box-shadow: var(--add-shadow-or-glow);
}

.delete-button-container {
	padding-right: 10px;
}

.delete-btn {
	justify-content: center;
	width: 40px;
	box-shadow: var(--add-shadow-or-glow);
}

.print-btn {
	width: 75px;
	box-shadow: var(--add-shadow-or-glow);
	margin: 10px;
}

.image-upload {
	width: 200px;
	font-size: 0.8rem;
}

.form-select:hover {
	cursor: pointer;
	background-color: var(--orange-bg-col-hover);
	transition: 0.5s;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bs-primary);
}

/*-*-*-*-*-*- Breakpoint min-width 1400px *-*-*-*-*-*-*/

@media screen and (min-width: 1400px) {
	#app-header {
		font-size: 50px;
		padding: 30px;
	}
	.input-box {
		width: 300px;
	}

	.orange-inner {
		width: 100%;
	}
	.text-line {
		font-size: 1rem;
	}
}

/*-*-*-*-*-*- Breakpoint max-width 1000px *-*-*-*-*-*-*/

@media screen and (max-width: 1000px) {
	#app-main {
		overflow-y: scroll;
		overflow-x: scroll;
	}
	#app-header {
		font-size: 18px;
		padding: 10px;
	}

	.theme-switch {
		font-size: 0.7rem;
	}

	.input-box {
		width: 175px;
		overflow-y: scroll;
		overflow-x: scroll;
	}

	.orange-inner {
		width: 100%;
	}
	.text-line {
		font-size: 0.4rem;
	}
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$custom-colors: (
	'danger': #ff00e6,
	'info': #9900ff,
	'success': #14d86b,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$form-select-color: (var(--text-col));
$form-select-bg: (var(--orange-bg-col));
$form-select-font-size: (0.8rem);
$btn-padding-x: 8px;
$form-check-input-checked-bg-color: #f8c3f8;
$form-check-input-checked-border-color: #f8c3f8;
$form-check-input-focus-box-shadow: white;

@import '~bootstrap/scss/bootstrap';

// .form-switch .form-check-input {
// 	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='var(--app-bg-col)'/%3e%3c/svg%3e");
// }
// .form-switch .form-check-input:focus {
// 	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='var(--app-bg-col)'/%3e%3c/svg%3e");
// }
